* {
  box-sizing: border-box;
  font-size: 1rem;
}
body {
  font-family: Roboto, Arial, sans-serif;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  background-color: azure;
}
nav {
  height: 100px;
  width: 100vw;
  border-bottom: 1px solid black;
  display: flex;
  align-items: center;
  background-color: lightcyan;
  ul {
    padding: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
    padding-left: 50px;
    padding-right: 50px;
    li {
      border: 1px solid black;
      background-color: rgb(139, 207, 230);
      padding: 20px;
      padding-left: 50px;
      padding-right: 50px;
    }
    a {
      color: inherit;
      text-decoration: none;
      font-weight: bold;
      color: white;
    }
    a:hover {
      padding: 20px;
      padding-left: 50px;
      padding-right: 50px;
    }
  }
}
header {
  width: 100vw;
  height: 500px;
  display: flex;
  flex-direction: column;
  .main {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 40%;
    width: 100%;
    font-size: 5rem;
    font-weight: bold;
  }
  .podt {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 50px;
    align-items: center;
    height: 60%;
    width: 100%;
    font-size: 3rem;
  }
}
.hist,
.cele,
.coto,
.first,
.bash,
.bilbiografia {
  margin-left: 50px;
  margin-right: 50px;
  letter-spacing: 1px;
  font-size: 1.2rem;
}
#hist {
  margin-top: 70px;
  font-size: 1.6rem;
}
.hist {
  padding-top: 70px;
  div {
    margin-top: 30px;
  }
}
#cele {
  font-size: 1.6rem;
}
.cele {
  margin-top: 70px;
  ul {
    margin-top: 30px;
    list-style-type: "🐟";
    li {
      margin-top: 10px;
    }
  }
}
#coto {
  font-size: 1.6rem;
}
.coto {
  margin-top: 70px;
  div {
    margin-top: 30px;
  }
}
#first {
  font-size: 1.6rem;
}
.first {
  .start {
    margin-top: 30px;
  }
  margin-top: 30px;
  padding-top: 70px;
  .pato {
    font-weight: bold;
    color: Blue;
    text-decoration: none;
  }

  .tekst {
    margin-top: 30px;
  }
  .kod {
    text-align: center;
    font-style: italic;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100px;
    background-color: grey;
    padding: 10px;
    padding-right: 10px;
    padding-left: 10px;
  }
  .kod1 {
    text-align: center;
    font-style: italic;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 400px;
    background-color: grey;
    padding: 10px;
    padding-right: 10px;
    padding-left: 10px;
  }
  img {
    margin-top: 20px;
    margin-bottom: 20px;
  }
}
#bash {
  font-size: 1.6rem;
}
.bash {
  padding-top: 70px;
  .tekst1 {
    margin-top: 30px;
  }
  img {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .kod {
    text-align: center;
    font-style: italic;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 120px;
    background-color: grey;
    padding: 10px;
    padding-right: 10px;
    padding-left: 10px;
  }
}
